.admin__tools-wrapper {
    width: 300px;
}

.admin__tools-wrapper__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}

.admin__tools-wrapper__container-icon__wrapper {
    background-color: rgb(243, 243, 243);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}